<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eric Adamski</title>
    <meta name="description" content="a desciption of your website.">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet"
          href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">

    <link rel="stylesheet"
          href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet"
          href="https://cdn-static-1.medium.com/_/fp/css/main-base.EUTeXVVybG93CQp7YqX9jQ.css">

    <link rel="stylesheet" type="text/css"
          href="https://cdn-static-1.medium.com/_/fp/css/fonts-base.by5Oi_VbnwEIvhnWIsuUjA.css">

    <!-- Our Stylesheets -->
    <link rel="stylesheet"
          href="stylesheets/header.css">
    <link rel="stylesheet"
          href="stylesheets/intro.css">
    <link rel="stylesheet"
          href="stylesheets/about.css">
    <link rel="stylesheet"
          href="stylesheets/contact.css">
    <link rel="stylesheet"
          href="stylesheets/footer.css">
  </head>
  <body>
    <div class="container">
      <div id="medium"> <%= posts %> </div>
      <div id="contact" class="row">
        <h2 class="display-4">Contact Me</h2>
        <ul class="_social-media">
          <li>
            <a href="#">
              <i class="icon ion-ios-email-outline"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon ion-social-twitter-outline"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon ion-social-facebook-outline"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon ion-social-instagram-outline"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon ion-social-github"></i>
            </a>
          </li>
        </ul>
      </div>
      <footer class="footer">
        <p>&copy; YOU 2016</p>
      </footer>
    </div>
  </body>
</html>
