/* Colours */
$black : #0C090D;
$red   : #E01A4F;
$orange: #F15946;
$yellow: #F9C22E;
$blue  : #53B3CB;

/* Font Sizes */
$font-large : 6em;
$font-medium: 3em;
$font-small : 1.5em;

/* Breakpoints */
$xlarge: 250em; /* 4K */
$large : 120em; /* HD */
$medium: 76.5em; /* Avg Desktop */
$small : 48em; /* tablets */
